body{
    background-color: black;
}
body , html{
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  div{
    width:100px;
    height:100px;
    background-color:indianred;
    animation-name: myFirstAnimation;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
  }
 
  @keyframes myFirstAnimation{
    from{
      transform: scale(1) ;
      transform: rotate(50deg);
    }
    to{
      transform: scale(4);
      transform: rotate(-50deg);
    }
  }
div:hover{
    background-color: coral;
    border-radius: 50%;
    opacity: 1;
    animation-name: myFirstAnimation1;
    border-bottom-right-radius:40px solid rgba(38, 148, 66, 0.377) ;
    transition:all ease 3s;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    transition-duration:8s ;
}
@keyframes myFirstAnimation1{
    0%{
        background-color: cornflowerblue;
        top: 0;
        left: 400px;
        border-radius: 0;
    }
    50%{
        background-color: darkgreen;
        top: 400px;
        left: 400px;
        border-radius: 50% 0 0;
    }
    75%{
        background-color: darkmagenta;
        top: 400px;
        left: 0;
        border-radius:50% 50% 0;
    }
    100%{
        background-color: darkkhaki;
        top: 0;
        left: 0;
        border-radius: 50% 50% 50%;
    }
  }